[submodule "compilation/buildutils"]
	path = compilation/buildutils
	url = https://gitlab.com/nadavhalahmi/buildutils.git
[submodule "source/opt/r3d"]
	path = source/opt/r3d
	url = https://github.com/maormizrachi/r3d_rich
[submodule "source/opt/vcl"]
	path = source/opt/vcl
	url = https://github.com/maormizrachi/vcl_rich
[submodule "analysis_files /radiative_shock"]
	path = analysis_files/radiative_shock
	url = git@gitlab.com:menikrief/radiative_shock.git
[submodule "source/Radiation/tau_matrix_calculator"]
	path = source/Radiation/tau_matrix_calculator
	url = git@github.com:ItamarShmelo/tau_matrix_calculator.git
