external_libraries
library_*
runs/temp_*
*.vtu
*.pvtu
*.out
*.err
build
*.pyc
__pycache__
*.h5
*.vtu
*.pvtu
*.mat
rich
VoroCrust/CMakeFiles
VoroCrust/cmake_install.cmake
VoroCrust/CMakeCache.txt
VoroCrust/VoroCrust.out
VoroCrust/Makefile
.vscode/*
r3d/*
.gitignore
*/.vscode/*
tests/hilbert
results/*
input*/*
toy_input*/*
validation*/*
.gitignore
.vscode*/*
result_dir*
./output
*.log
*.a
*.la
*.so
runs
.cache